.btn {
  height: 60px;
  width: 100%;
  border-radius: 30px 30px 30px 30px;
  background-color: $main-blue;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}