.footer {
  height: 90px;
  color: $main-grey;
  text-transform: uppercase;
  background: #fff;
}

.footer__container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer__copyright {
  font-size: 13px;
}

.footer__links {
  display: flex;
}

.footer__links-el {
  padding: 10px;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $main-blue;
    }
  }
}